/* CSS for the Registration Form */

body {
    width: 100%;
    height: 100vh;
    /* will need to set the value to */
    margin: auto;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-size: 16px;
}

label {
    display: block;
    margin: .5rem 0;
}

a {
    color: #f5f6f7;
}

form {
    margin: 0px 30px 0px 30px;
}

fieldset {
    margin: 15px 0px 15px 0px;
    border-radius: 10px;
}

input,
textarea {
    margin: 1px 10px 1px 10px;
    border-radius: 3px;
}

legend