/* CSS for the Registration Form */

body {
    width: 100%;
    height: 100vh;
    /* will need to set the value to */
    margin: auto;
    background-color: #1b1b32;
    color: #f5f6f7;
}

label {
    display: block;
    margin: .5rem 0;
}

a {
    color: #f5f6f7;
}

file